* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #f7f7f7;
  color: #333;
  width: 80%;
  margin: auto;
  display: flex;
}

.cardpage {
  margin-top: 24px;
}

.cardpage_head {
  display: flex;
  justify-content: space-between;
}

.card-wrap {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(14px);
  margin-top: 20px;
  border-radius: 1rem;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  padding: 20px;
}

.button {
  background-color: #6e8fe9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.search {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 16px;
  border: 5px medium #071b52;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.search input[type="text"] {
  padding: 6px;
  margin-right: 10px;

  border: none;
  font-size: 17px;
  border-radius: 4px;
}
